html {
    
  background: url("1689009563675.jpg") no-repeat                   center center fixed; 
  
  
  -webkit-background-size: cover;    -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  
  
  }
  
  
  


*{
    font-family    : monospace;
    font-size    : 10px;
    color    : white;
}

/*
responsiveness 

*/

@media (min-width : 300px){
    /*some styles*/
}


body{
    line-height    : 1.4;
    
    /*
  		background-image: url("1689009563675.jpg");
  		
  		
  		now creating background animation necessary 
  		*/
  		  		
  		
}


}



/*

header .anime-box{
    max-width    : 100%;
    max-height    : 100%;
    background    : #0000;
    animation    :
    
}


*/



/*
now creating background animation necessary 


animation-name : alphabets;
animation-duration : infinite;


@keyframes alphabets{
    
  0%   {background :  url("20230820_092127_IS.jpg");}
  20%  {background :  url("Notes_230820_084953_H.jpg");}
  40%  {background :  url("20230820_092316_ma.jpg  ");}
  60% {background :  url("Notes_230820_085910_E.jpg ");}
  80%{background :  url("Notes_230820_090029_L.jpg   "); }
  100%{background :  url(" Notes_230820_085454_M.jpg  ");  }



  		*/
  		




header{
    
    color    : coral;
    line-height    : 3em;
    
    /*width    : 9px;
    height     : 9px;
    margin    : 9px;*/
    
    padding    : 30px;
    
    /*border-box    : 9px;
    align-items   : centre;
    
    letter-spacing    : 15px;*/
}

header h1{
    font-weight    : 900px;
}


/*
.anime-box{
    background-color    : purple;
    
}
The element to apply the animation to 
*/
 
 
.anime-box{
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: myName;
  animation-duration: 4s;
  
}

@keyframes myName{
    
  0%   {background-color: red}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}












nav{
  background-color    : whitesmoke;
  margin              :0px;
  padding             :0px;
}

.nav-contents{
    list-style    : none;
    display    : flex;
    flex-direction      : row;
    flex                : 1;
    flex-basis    : 1;
    gap    :3rem
    
}

.nav-contents .list-item{
    text-decoration    : none;
    font-weight        : 30px;
}

nav ul li{
    text-decoration    : none;
}


h1{
    font-weight    : 1300px;
}

h2{
    padding    : 30px 0px 60px 0px;
    
}

p{
    font-weight    : 1;
    line-height    : 1;
    max-width    : 600px;
}

h2, a{
    max-width    : 60%;
}

.ishmael{
    style    : none;
    text-decoration    : none;
}


div{
    height    : 100vh;
    max-width    : 100%;
    padding    : 0px 60px;
    margin    : 0px 0px 60px 0px;
    display    : inline-block;
   /* background    : linear-gradient(coral,white,pink);*/
    border-radius    : 3px;
}


.gallery {
    overflow    : auto;
    display    : grid;
    grid-template-columns    : 1fr 1fr 1fr;
    gap    : 3em;
    
}

footer{
    background-color    : black;
}

